<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monte Carlo</title>
    <link rel="stylesheet" href="aboutme.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <div id="top">
        <div id="title">
            <span>Quantfy</span>
        </div>
        <div id="menus">
            <a href="http://localhost:3000/home">Home</a>
            <a href="http://localhost:3000/montecarlo">Monte Carlo</a>
            <a href="http://localhost:3000/dcf">DCF</a>
            <a href="http://localhost:3000/news">News</a>
            <a href="http://localhost:3000/analysis">Analysis</a>
        </div>
    </div>
    <div id="bottom">
    </header>
    <div class="content">
        <h1>QUANTFY.FR IS BACK ONLINE !!</h1>
    <p>Hello everyone, I'm thrilled to announce the return of Quantfy.fr online! First and foremost, a huge thank you to each and every one of you for your continued support. We are now a community of over a thousand passionate users! As you may have noticed a few months ago, Quantfy.fr faced some technical issues that temporarily took it offline. But here we are, back stronger than ever. I hope you'll all be just as active on our platform as before.
    </p>
    <p>Let's talk about our ongoing improvements. I'm currently working on a brand new version of our Monte Carlo tool. I've taken note of your feedback and am committed to providing you with an even more precise and enriching experience. This new version, equipped with an enhanced API, should be coming your way in the months ahead. Stay tuned!
    </p>
    <p>But let me introduce myself. I'm Adam Bernard-Nasser, a high school student passionate about the worlds of finance and mathematics, and the creator of Quantfy.fr. But this project goes far beyond just another financial analysis website. Let me share with you the passion and vision that drive every line of code on this platform.
    </p>
    <p>You might wonder why finance and mathematics, right? These two seemingly different worlds are, in fact, closely intertwined. To understand economics, one must be able to decipher the numbers behind it. Are you familiar with the Black-Scholes model? This model revolutionized the global economy, generating trillions of dollars in financial impact. And did you know that the majority of market transactions are now conducted by sophisticated algorithms? With the advent of AI, the marriage between mathematics and finance opens up exciting new possibilities.
    </p>
    <p>My journey to Quantfy.fr began two summers ago, at the crossroads of several paths. Between my personal projects and the launch of my own business, I laid the groundwork for this adventure. For me, it wasn't just about passion; it was about embracing the complexities of finance and technology, with the aim of providing an innovative solution to other enthusiasts. Despite the hurdles encountered, I am convinced that, through hard work, Quantfy.fr will become an indispensable financial analysis tool.
    </p>
    <p>Quantfy.fr is more than just a website. It's my personal vision of democratizing financial analysis, making it accessible to everyone, regardless of their level of expertise. Our platform guides you through the labyrinth of finance, transforming complex data into clear and understandable information. From initial research to website programming, every step of this journey has been a passionate exploration, a step closer to realizing a mission that is close to my heart.
    </p>
    <p>In a world where financial education is essential, Quantfy.fr aims to be a beacon in the darkness of complex concepts. Beyond the numbers, this project embodies my deep belief in education and accessibility. By making financial concepts understandable to all, I hope to encourage everyone to explore this fascinating realm of mathematics and finance. Quantfy.fr is and will remain a free tool, as our goal is above all to share knowledge and inspire an engaged community.
    </p>
    <p>The future of Quantfy.fr looks promising. What started as a personal project is becoming a flourishing platform, thanks to you, our valuable community. But this is just the beginning of our journey. We continue to learn, improve, and broaden our horizons, to offer even more to our users.
    </p>
    <p>Thank you for taking the time to discover the story of Quantfy.fr. This platform is not just the result of my passion for finance and mathematics; it is an invitation to join a community driven by discovery and growth. Together, let's embark on this fascinating adventure, one analysis at a time.
    </p>
    </div>
    <footer>
        <div id="tools">
            <span>Tools</span>
            <a href="http://localhost:3000/montecarlo">Monte Carlo</a>
            <a href="http://localhost:3000/dcf">DCF</a>
            <a href="http://localhost:3000/news">News</a>
            <a href="http://localhost:3000/analysis">Analysis</a>
        </div>
        <div id="about">
            <span>About</span>
            <a href="http://localhost:3000/aboutme">About Me</a>
            <a href="http://localhost:3000/contactme">Contact Me</a>
        </div>
    </footer>
</body>
</html>