<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monte Carlo</title>
    <link rel="stylesheet" href="aboutme.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div id="top">
            <div id="title">
                <span>Quantfy</span>
            </div>
            <div id="menus">
                <a href="http://localhost:3000/home">Home</a>
                <a href="http://localhost:3000/montecarlo">Monte Carlo</a>
                <a href="http://localhost:3000/dcf">DCF</a>
                <a href="http://localhost:3000/news">News</a>
                <a href="http://localhost:3000/analysis">Analysis</a>
            </div>
        </div>
        <div id="bottom">
    </header>
    <div class="content">
        <h1>QUANTFY.FR NEEDS YOUR HELP</h1>
        <h2>Please do not hesitate to contact me to make a contribution of any kind to Quantfy.fr</h2>
        <span>EMAIL : adambernard.pr@gmail.com</span>
        <span>NUMBER : +33 6 79 97 31 83</span>
        <span>INSTAGRAM : @vadam_brnd</span>
        <span>GITHUB : adamlinalpha</span>
    </div>
    <footer>
        <div id="tools">
            <span>Tools</span>
            <a href="http://localhost:3000/montecarlo">Monte Carlo</a>
            <a href="http://localhost:3000/dcf">DCF</a>
            <a href="http://localhost:3000/news">News</a>
            <a href="http://localhost:3000/analysis">Analysis</a>
        </div>
        <div id="about">
            <span>About</span>
            <a href="http://localhost:3000/aboutme">About Me</a>
            <a href="http://localhost:3000/contactme">Contact Me</a>
        </div>
    </footer>
</body>

</html>