<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div id="svg1">
            <img src="Vector 1.svg" alt="">
          </div>
        <div id="svg2">
            <img src="Vector 2.svg" alt="">
          </div>
          <div id="svg3">
            <img src="Vector 3.svg" alt="">
          </div>

        <div id="title">
            <span>Quantfy</span>
        </div>
        <div id="menus">
            <a href="http://localhost:3000/home">Home</a>
            <a href="http://localhost:3000/montecarlo">Monte Carlo</a>
            <a href="http://localhost:3000/dcf">DCF</a>
            <a href="http://localhost:3000/news">News</a>
            <a href="http://localhost:3000/analysis">Analysis</a>
        </div>
    </header>
    <div id="content">
        <div id="dcf" class="bod1">
            <div class="text">
                <div class="title" id="title1">
                    <span>Estimates the future of your portfolio</span>
                </div>
                <div class="corpus">
                    <span>Use Monte Carlo Analysis to estimates the future growth of your portfolio</span>
                </div>
                <div class="discover">
                    <a class="a" href="http://localhost:3000/montecarlo">DISCOVER</a>
                </div>
            </div>
            <div class="img">
                <img src="/Other 01.svg" alt="">
            </div>
        </div>

        <div id="montecarlo" class="bod">
            <div class="img">
                <img src="/Other 11.svg" alt="">
            </div>
            <div class="text">
                <div class="title">
                    <span>Advanced DCF Tool With Future Earnings Estimates</span>
                </div>
                <div class="corpus">
                    <span>Use our DCF tool with future estimates to accurately estimate the value of a share</span>
                </div>
                <div class="discover">
                    <a class="a" href="http://localhost:3000/dcf">DISCOVER</a>
                </div>
            </div>
        </div>
        <div id="newsAnalysis" class="bod">
            <div class="text">
                <div class="title" id="title3">
                    <span>Read The Latest News And Analysis</span>
                </div>
                <div class="corpus">
                    <span>We provide you with analysis and news about your favourite stocks</span>
                </div>
                <div id="buttons">
                    <div class="news"><a class="a" href="http://localhost:3000/news">NEWS</a>
                    </div>
                    <div class="analysis"><a class="a" href="http://localhost:3000/analysis">ANALYSIS</a>
                    </div>
                </div>
            </div>
            <div class="img">
                <img src="/Other 12.svg" alt="">
            </div>
        </div>
        <div id="catch">
            <span>Ready to invest ?</span>
        </div>
    </div>
    <footer>
        <div id="tools">
            <span>Tools</span>
            <a href="http://localhost:3000/montecarlo">Monte Carlo</a>
            <a href="http://localhost:3000/dcf">DCF</a>
            <a href="http://localhost:3000/news">News</a>
            <a href="http://localhost:3000/analysis">Analysis</a>
        </div>
        <div id="about">
            <span>About</span>
            <a href="http://localhost:3000/aboutme">About Me</a>
            <a href="http://localhost:3000/contactme">Contact Me</a>
        </div>
    </footer>
</body>

</html>