<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monte Carlo</title>
    <link rel="stylesheet" href="montecarlo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div id="svg1">
            <img src="Vector 1.svg" alt="">
          </div>
        <div id="svg2">
            <img src="Vector 2.svg" alt="">
          </div>

        <div id="top">
            <div id="title">
                <span>Quantfy</span>
            </div>
            <div id="menus">
                <a href="http://localhost:3000/home">Home</a>
                <a href="http://localhost:3000/montecarlo">Monte Carlo</a>
                <a href="http://localhost:3000/dcf">DCF</a>
                <a href="http://localhost:3000/news">News</a>
                <a href="http://localhost:3000/analysis">Analysis</a>
            </div>
        </div>
        <div id="bottom">
            <hr>
            <h1>Monte Carlo Simulation</h1>
        </div>
    </header>
    <div class="content">
        <form class="tab1" action="/montecarlo" method="post">
            <div class="cadre1">
                <div class="parameter">
                    <div id="startingamount" class="para">
                        <label class="label" for="startingamount">Starting amount ($):</label>
                        <div class="input"><input class="edit" type="number" name="startingamount" id="startingamount" value="1000000" step="1"></div>
                    </div>
                    <div id="contribution" class="para">
                        <label class="label" for="contribution">Contribution:</label>
                        <div class="input">
                            <select class="edit" name="contribution" id="contributionjs">
                            <option value="withdrawfixedamount" selected="selected">Withdraw fixed amount</option>
                            <option value="withdrawpercentage">Withdraw percentage</option>
                            <option value="addfixedamount">Add fixed amount</option>
                            <option value="addpercentage">Add percentage</option>
                        </select></div>
                    </div>
                    <div id="contributionfrequence" class="para">
                        <label class="label" for="contributionfrequence">Contribution frequence:</label>
                        <div class="input">
                            <select class="edit" name="contributionfrequence" id="contributionfrequence">
                            <option value="Weekly" selected="selected">Weekly</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Yearly">Yearly</option>
                        </select></div>
                    </div>
                    <div id="contributionamount" class="para">
                        <label class="label" for="contributionamount">Contribution amount ($):</label>
                        <div class="input"><input class="edit" type="number" name="contributionamount" id="contributionamountjs" value="10000" step="1"></div>
                    </div>
                    <div id="inflationrate" class="para">
                        <label class="label" for="inflationrate">Inflation rate (%):</label>
                        <div class="input"><input class="edit" type="number" name="inflationrate" id="inflationratejs" value="2"></div>
                    </div>
                    <div id="simulationyears" class="para">
                        <label class="label" for="simulationyears">Simulation years:</label>
                        <div class="input"><input class="edit" type="number" name="simulationyears" id="simulationyearsjs" value="20" min="3" max="60" step="1"></div>
                    </div>
                </div>
                <div class="portfolio">
                    <div class="title"><span>Portfolio</span></div>
                    <div id="portfo">
                        <div id="titles" class="ticker">
                            <div class="part1"><span>Ticker</span></div>
                            <div class="part2"><span>Allocation (%)</span></div>
                        </div>
                        <div id="ticker1" class="ticker">
                            <div class="part1">
                                <input class="edit2" type="text" name="ticker1" id="ticker1js" minlength="1" maxlength="5" value="SPY">
                            </div>
                            <div class="part2">
                                <input class="edit3" type="number" name="allocation1" id="allocation1js" min="0" max="100" value="100">
                            </div>
                        </div>
                        <div id="ticker2" class="ticker">
                            <div class="part1">
                                <input class="edit2" type="text" name="ticker2" id="ticker2js" minlength="1" maxlength="5" value="SPY">
                            </div>
                            <div class="part2">
                                <input class="edit3" type="number" name="allocation2" id="allocation2js" min="0" max="100" value="0">
                            </div>
                        </div>
                        <div id="ticker3" class="ticker">
                            <div class="part1">
                                <input class="edit2" type="text" name="ticker3" id="ticker3js" minlength="1" maxlength="5" value="SPY">
                            </div>
                            <div class="part2">
                                <input class="edit3" type="number" name="allocation3" id="allocation3js" min="0" max="100" value="0">
                            </div>
                        </div>
                        <div id="ticker4" class="ticker">
                            <div class="part1">
                                <input class="edit2" type="text" name="ticker4" id="ticker4js" minlength="1" maxlength="5" value="SPY">
                            </div>
                            <div class="part2">
                                <input class="edit3" type="number" name="allocation4" id="allocation4js" min="0" max="100" value="0">
                            </div>
                        </div>
                        <div id="ticker5" class="ticker">
                            <div class="part1">
                                <input class="edit2" type="text" name="ticker5" id="ticker5js" minlength="1" maxlength="5" value="SPY">
                            </div>
                            <div class="part2">
                                <input class="edit3" type="number" name="allocation5" id="allocation5js" min="0" max="100" value="0">
                            </div>
                        </div>
                        <div id="ticker6" class="ticker">
                            <div class="part1">
                                <input class="edit2" type="text" name="ticker6" id="ticker6js" minlength="1" maxlength="5" value="SPY">
                            </div>
                            <div class="part2">
                                <input class="edit3" type="number" name="allocation6" id="allocation6js" min="0" max="100" value="0">
                            </div>
                        </div>
                        <div id="ticker7" class="ticker">
                            <div class="part1">
                                <input class="edit2" type="text" name="ticker7" id="ticker7js" minlength="1" maxlength="5" value="SPY">
                            </div>
                            <div class="part2">
                                <input class="edit3" type="number" name="allocation7" id="allocation7js" min="0" max="100" value="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit">Simulate</button>
        </form>
        <footer>
            <div id="tools">
                <span>Tools</span>
                <a href="http://localhost:3000/montecarlo">Monte Carlo</a>
                <a href="http://localhost:3000/dcf">DCF</a>
                <a href="http://localhost:3000/news">News</a>
                <a href="http://localhost:3000/analysis">Analysis</a>
            </div>
            <div id="about">
                <span>About</span>
                <a href="http://localhost:3000/aboutme">About Me</a>
                <a href="http://localhost:3000/contactme">Contact Me</a>
            </div>
        </footer>
    <script src="montecarlostyle.js"></script>
</body>
</html>